*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #f7fafc;
  line-height: 1.5; }

.app-container {
  background-image: url(imgs/test.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center; }

.app {
  display: inline-block;
  width: 70%;
  border: 0.5rem rgba(0, 0, 0, 0.8) solid;
  border-radius: 4rem;
  margin: 2rem 0;
  box-shadow: 0 0 10rem rgba(113, 128, 150, 0.9);
  overflow: hidden; }

.left-container {
  float: left;
  width: 70%; }

.right-container {
  float: right;
  width: 30%; }

.current-weather-container {
  display: block;
  height: 35rem;
  position: relative; }

.celus-container {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  color: #f7fafc;
  width: calc(100% - 4rem - 3rem); }
  .celus-container > h1 {
    font-size: 10rem;
    font-weight: 700;
    float: left; }
  .celus-container > p {
    margin-top: calc(10rem - 3rem);
    margin-left: 1rem;
    float: left;
    font-size: 3rem; }
  .celus-container > img {
    float: right; }

.line-divider {
  position: absolute;
  bottom: 7rem;
  left: 4rem;
  width: calc(100% - 4rem - 3rem);
  border: 1px #f7fafc solid; }

.info-container {
  position: absolute;
  bottom: 2.5rem;
  left: 4rem;
  width: calc(100% - 4rem - 3rem);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f7fafc; }
  .info-container_city {
    float: left; }
  .info-container_date {
    float: right; }

.search-container {
  display: block;
  height: 10rem; }
  .search-container > form {
    border: solid .3rem black;
    margin: 5rem 4rem;
    float: left;
    position: relative;
    border-radius: 3rem; }
    .search-container > form > input {
      font-size: 1.5rem;
      font-weight: 700;
      width: 3rem;
      height: 3rem;
      padding: .5rem 0 .5rem 1rem;
      border: none;
      box-sizing: border-box;
      border-radius: 3rem;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
      opacity: 0.5; }
      .search-container > form > input:focus {
        outline: none; }
      .search-container > form > input:focus, .search-container > form > input:not(:placeholder-shown) {
        width: 30rem;
        transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5); }
        .search-container > form > input:focus + span, .search-container > form > input:not(:placeholder-shown) + span {
          bottom: .9rem;
          right: 1rem;
          transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms; }
        .search-container > form > input:focus + span:after, .search-container > form > input:not(:placeholder-shown) + span:after {
          top: -.2rem;
          right: .6rem;
          opacity: 1;
          transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms; }
    .search-container > form > span {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -.9rem;
      right: -1.1rem;
      transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms; }
      .search-container > form > span:before, .search-container > form > span:after {
        content: '';
        height: 2rem;
        border-left: solid .3rem black;
        position: absolute;
        transform: rotate(-45deg); }
      .search-container > form > span:after {
        transform: rotate(45deg);
        opacity: 0;
        top: -2rem;
        right: -1rem;
        transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out; }

.time-container, .related-weather-info-container {
  display: inline-block;
  font-size: 1.2rem;
  color: #f7fafc;
  margin-top: 2rem;
  width: 80%; }

.detail-weather-container {
  text-align: center; }

.time-container {
  text-transform: uppercase; }
  .time-container-sunrise {
    float: left;
    border-radius: 1.5rem;
    background-color: rgba(160, 174, 192, 0.5);
    padding: 1rem 1.5rem; }
  .time-container-sunset {
    float: right;
    border-radius: 1.5rem;
    background-color: rgba(160, 174, 192, 0.5);
    padding: 1rem 1.5rem; }

.related-weather-info-container {
  border-radius: 1.5rem;
  background-color: rgba(160, 174, 192, 0.5);
  padding: 1rem 0.5rem;
  text-align: center; }
  .related-weather-info-container .pie {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: relative; }
    .related-weather-info-container .pie:not(:last-child) {
      margin-right: 2rem; }
    .related-weather-info-container .pie-container {
      height: 100%;
      width: 100%;
      clip: rect(0, 5rem, 5rem, 2.5rem);
      left: 0;
      position: absolute;
      top: 0; }
      .related-weather-info-container .pie-container .half-circle {
        height: 100%;
        width: 100%;
        border: 0.5rem solid #3498db;
        border-radius: 50%;
        clip: rect(0, 2.5rem, 5rem, 0);
        left: 0;
        position: absolute;
        top: 0; }
    .related-weather-info-container .pie-number {
      border-radius: 50%;
      top: 2.5rem;
      left: 2.5rem;
      transform: translate(-0.625rem, -0.9375rem);
      cursor: default;
      display: block;
      font-size: 1.25rem;
      position: absolute;
      text-align: center; }
    .related-weather-info-container .pie-percent {
      font-size: 0.625rem;
      vertical-align: super; }
    .related-weather-info-container .pie-shadow {
      height: 100%;
      width: 100%;
      border: 0.5rem solid #bdc3c7;
      border-radius: 50%; }
    .related-weather-info-container .pie-label {
      font-size: 1.2rem; }
    .related-weather-info-container .pie.progress-1 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-1 .pie-container .left-side {
      transform: rotate(3.6deg); }
    .related-weather-info-container .pie.progress-1 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-2 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-2 .pie-container .left-side {
      transform: rotate(7.2deg); }
    .related-weather-info-container .pie.progress-2 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-3 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-3 .pie-container .left-side {
      transform: rotate(10.8deg); }
    .related-weather-info-container .pie.progress-3 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-4 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-4 .pie-container .left-side {
      transform: rotate(14.4deg); }
    .related-weather-info-container .pie.progress-4 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-5 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-5 .pie-container .left-side {
      transform: rotate(18deg); }
    .related-weather-info-container .pie.progress-5 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-6 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-6 .pie-container .left-side {
      transform: rotate(21.6deg); }
    .related-weather-info-container .pie.progress-6 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-7 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-7 .pie-container .left-side {
      transform: rotate(25.2deg); }
    .related-weather-info-container .pie.progress-7 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-8 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-8 .pie-container .left-side {
      transform: rotate(28.8deg); }
    .related-weather-info-container .pie.progress-8 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-9 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-9 .pie-container .left-side {
      transform: rotate(32.4deg); }
    .related-weather-info-container .pie.progress-9 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-10 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-10 .pie-container .left-side {
      transform: rotate(36deg); }
    .related-weather-info-container .pie.progress-10 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-11 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-11 .pie-container .left-side {
      transform: rotate(39.6deg); }
    .related-weather-info-container .pie.progress-11 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-12 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-12 .pie-container .left-side {
      transform: rotate(43.2deg); }
    .related-weather-info-container .pie.progress-12 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-13 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-13 .pie-container .left-side {
      transform: rotate(46.8deg); }
    .related-weather-info-container .pie.progress-13 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-14 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-14 .pie-container .left-side {
      transform: rotate(50.4deg); }
    .related-weather-info-container .pie.progress-14 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-15 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-15 .pie-container .left-side {
      transform: rotate(54deg); }
    .related-weather-info-container .pie.progress-15 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-16 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-16 .pie-container .left-side {
      transform: rotate(57.6deg); }
    .related-weather-info-container .pie.progress-16 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-17 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-17 .pie-container .left-side {
      transform: rotate(61.2deg); }
    .related-weather-info-container .pie.progress-17 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-18 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-18 .pie-container .left-side {
      transform: rotate(64.8deg); }
    .related-weather-info-container .pie.progress-18 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-19 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-19 .pie-container .left-side {
      transform: rotate(68.4deg); }
    .related-weather-info-container .pie.progress-19 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-20 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-20 .pie-container .left-side {
      transform: rotate(72deg); }
    .related-weather-info-container .pie.progress-20 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-21 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-21 .pie-container .left-side {
      transform: rotate(75.6deg); }
    .related-weather-info-container .pie.progress-21 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-22 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-22 .pie-container .left-side {
      transform: rotate(79.2deg); }
    .related-weather-info-container .pie.progress-22 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-23 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-23 .pie-container .left-side {
      transform: rotate(82.8deg); }
    .related-weather-info-container .pie.progress-23 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-24 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-24 .pie-container .left-side {
      transform: rotate(86.4deg); }
    .related-weather-info-container .pie.progress-24 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-25 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-25 .pie-container .left-side {
      transform: rotate(90deg); }
    .related-weather-info-container .pie.progress-25 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-26 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-26 .pie-container .left-side {
      transform: rotate(93.6deg); }
    .related-weather-info-container .pie.progress-26 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-27 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-27 .pie-container .left-side {
      transform: rotate(97.2deg); }
    .related-weather-info-container .pie.progress-27 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-28 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-28 .pie-container .left-side {
      transform: rotate(100.8deg); }
    .related-weather-info-container .pie.progress-28 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-29 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-29 .pie-container .left-side {
      transform: rotate(104.4deg); }
    .related-weather-info-container .pie.progress-29 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-30 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-30 .pie-container .left-side {
      transform: rotate(108deg); }
    .related-weather-info-container .pie.progress-30 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-31 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-31 .pie-container .left-side {
      transform: rotate(111.6deg); }
    .related-weather-info-container .pie.progress-31 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-32 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-32 .pie-container .left-side {
      transform: rotate(115.2deg); }
    .related-weather-info-container .pie.progress-32 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-33 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-33 .pie-container .left-side {
      transform: rotate(118.8deg); }
    .related-weather-info-container .pie.progress-33 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-34 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-34 .pie-container .left-side {
      transform: rotate(122.4deg); }
    .related-weather-info-container .pie.progress-34 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-35 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-35 .pie-container .left-side {
      transform: rotate(126deg); }
    .related-weather-info-container .pie.progress-35 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-36 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-36 .pie-container .left-side {
      transform: rotate(129.6deg); }
    .related-weather-info-container .pie.progress-36 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-37 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-37 .pie-container .left-side {
      transform: rotate(133.2deg); }
    .related-weather-info-container .pie.progress-37 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-38 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-38 .pie-container .left-side {
      transform: rotate(136.8deg); }
    .related-weather-info-container .pie.progress-38 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-39 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-39 .pie-container .left-side {
      transform: rotate(140.4deg); }
    .related-weather-info-container .pie.progress-39 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-40 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-40 .pie-container .left-side {
      transform: rotate(144deg); }
    .related-weather-info-container .pie.progress-40 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-41 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-41 .pie-container .left-side {
      transform: rotate(147.6deg); }
    .related-weather-info-container .pie.progress-41 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-42 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-42 .pie-container .left-side {
      transform: rotate(151.2deg); }
    .related-weather-info-container .pie.progress-42 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-43 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-43 .pie-container .left-side {
      transform: rotate(154.8deg); }
    .related-weather-info-container .pie.progress-43 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-44 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-44 .pie-container .left-side {
      transform: rotate(158.4deg); }
    .related-weather-info-container .pie.progress-44 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-45 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-45 .pie-container .left-side {
      transform: rotate(162deg); }
    .related-weather-info-container .pie.progress-45 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-46 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-46 .pie-container .left-side {
      transform: rotate(165.6deg); }
    .related-weather-info-container .pie.progress-46 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-47 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-47 .pie-container .left-side {
      transform: rotate(169.2deg); }
    .related-weather-info-container .pie.progress-47 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-48 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-48 .pie-container .left-side {
      transform: rotate(172.8deg); }
    .related-weather-info-container .pie.progress-48 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-49 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-49 .pie-container .left-side {
      transform: rotate(176.4deg); }
    .related-weather-info-container .pie.progress-49 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-50 .pie-container .half-circle {
      border-color: #3498db; }
    .related-weather-info-container .pie.progress-50 .pie-container .left-side {
      transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-50 .pie-container .right-side {
      display: none; }
    .related-weather-info-container .pie.progress-51 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-51 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-51 .pie-container .left-side {
        transform: rotate(183.6deg); }
      .related-weather-info-container .pie.progress-51 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-52 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-52 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-52 .pie-container .left-side {
        transform: rotate(187.2deg); }
      .related-weather-info-container .pie.progress-52 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-53 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-53 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-53 .pie-container .left-side {
        transform: rotate(190.8deg); }
      .related-weather-info-container .pie.progress-53 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-54 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-54 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-54 .pie-container .left-side {
        transform: rotate(194.4deg); }
      .related-weather-info-container .pie.progress-54 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-55 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-55 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-55 .pie-container .left-side {
        transform: rotate(198deg); }
      .related-weather-info-container .pie.progress-55 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-56 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-56 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-56 .pie-container .left-side {
        transform: rotate(201.6deg); }
      .related-weather-info-container .pie.progress-56 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-57 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-57 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-57 .pie-container .left-side {
        transform: rotate(205.2deg); }
      .related-weather-info-container .pie.progress-57 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-58 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-58 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-58 .pie-container .left-side {
        transform: rotate(208.8deg); }
      .related-weather-info-container .pie.progress-58 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-59 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-59 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-59 .pie-container .left-side {
        transform: rotate(212.4deg); }
      .related-weather-info-container .pie.progress-59 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-60 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-60 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-60 .pie-container .left-side {
        transform: rotate(216deg); }
      .related-weather-info-container .pie.progress-60 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-61 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-61 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-61 .pie-container .left-side {
        transform: rotate(219.6deg); }
      .related-weather-info-container .pie.progress-61 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-62 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-62 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-62 .pie-container .left-side {
        transform: rotate(223.2deg); }
      .related-weather-info-container .pie.progress-62 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-63 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-63 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-63 .pie-container .left-side {
        transform: rotate(226.8deg); }
      .related-weather-info-container .pie.progress-63 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-64 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-64 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-64 .pie-container .left-side {
        transform: rotate(230.4deg); }
      .related-weather-info-container .pie.progress-64 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-65 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-65 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-65 .pie-container .left-side {
        transform: rotate(234deg); }
      .related-weather-info-container .pie.progress-65 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-66 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-66 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-66 .pie-container .left-side {
        transform: rotate(237.6deg); }
      .related-weather-info-container .pie.progress-66 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-67 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-67 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-67 .pie-container .left-side {
        transform: rotate(241.2deg); }
      .related-weather-info-container .pie.progress-67 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-68 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-68 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-68 .pie-container .left-side {
        transform: rotate(244.8deg); }
      .related-weather-info-container .pie.progress-68 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-69 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-69 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-69 .pie-container .left-side {
        transform: rotate(248.4deg); }
      .related-weather-info-container .pie.progress-69 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-70 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-70 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-70 .pie-container .left-side {
        transform: rotate(252deg); }
      .related-weather-info-container .pie.progress-70 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-71 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-71 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-71 .pie-container .left-side {
        transform: rotate(255.6deg); }
      .related-weather-info-container .pie.progress-71 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-72 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-72 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-72 .pie-container .left-side {
        transform: rotate(259.2deg); }
      .related-weather-info-container .pie.progress-72 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-73 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-73 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-73 .pie-container .left-side {
        transform: rotate(262.8deg); }
      .related-weather-info-container .pie.progress-73 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-74 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-74 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-74 .pie-container .left-side {
        transform: rotate(266.4deg); }
      .related-weather-info-container .pie.progress-74 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-75 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-75 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-75 .pie-container .left-side {
        transform: rotate(270deg); }
      .related-weather-info-container .pie.progress-75 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-76 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-76 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-76 .pie-container .left-side {
        transform: rotate(273.6deg); }
      .related-weather-info-container .pie.progress-76 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-77 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-77 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-77 .pie-container .left-side {
        transform: rotate(277.2deg); }
      .related-weather-info-container .pie.progress-77 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-78 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-78 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-78 .pie-container .left-side {
        transform: rotate(280.8deg); }
      .related-weather-info-container .pie.progress-78 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-79 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-79 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-79 .pie-container .left-side {
        transform: rotate(284.4deg); }
      .related-weather-info-container .pie.progress-79 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-80 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-80 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-80 .pie-container .left-side {
        transform: rotate(288deg); }
      .related-weather-info-container .pie.progress-80 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-81 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-81 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-81 .pie-container .left-side {
        transform: rotate(291.6deg); }
      .related-weather-info-container .pie.progress-81 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-82 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-82 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-82 .pie-container .left-side {
        transform: rotate(295.2deg); }
      .related-weather-info-container .pie.progress-82 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-83 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-83 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-83 .pie-container .left-side {
        transform: rotate(298.8deg); }
      .related-weather-info-container .pie.progress-83 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-84 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-84 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-84 .pie-container .left-side {
        transform: rotate(302.4deg); }
      .related-weather-info-container .pie.progress-84 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-85 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-85 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-85 .pie-container .left-side {
        transform: rotate(306deg); }
      .related-weather-info-container .pie.progress-85 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-86 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-86 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-86 .pie-container .left-side {
        transform: rotate(309.6deg); }
      .related-weather-info-container .pie.progress-86 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-87 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-87 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-87 .pie-container .left-side {
        transform: rotate(313.2deg); }
      .related-weather-info-container .pie.progress-87 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-88 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-88 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-88 .pie-container .left-side {
        transform: rotate(316.8deg); }
      .related-weather-info-container .pie.progress-88 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-89 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-89 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-89 .pie-container .left-side {
        transform: rotate(320.4deg); }
      .related-weather-info-container .pie.progress-89 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-90 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-90 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-90 .pie-container .left-side {
        transform: rotate(324deg); }
      .related-weather-info-container .pie.progress-90 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-91 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-91 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-91 .pie-container .left-side {
        transform: rotate(327.6deg); }
      .related-weather-info-container .pie.progress-91 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-92 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-92 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-92 .pie-container .left-side {
        transform: rotate(331.2deg); }
      .related-weather-info-container .pie.progress-92 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-93 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-93 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-93 .pie-container .left-side {
        transform: rotate(334.8deg); }
      .related-weather-info-container .pie.progress-93 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-94 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-94 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-94 .pie-container .left-side {
        transform: rotate(338.4deg); }
      .related-weather-info-container .pie.progress-94 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-95 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-95 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-95 .pie-container .left-side {
        transform: rotate(342deg); }
      .related-weather-info-container .pie.progress-95 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-96 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-96 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-96 .pie-container .left-side {
        transform: rotate(345.6deg); }
      .related-weather-info-container .pie.progress-96 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-97 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-97 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-97 .pie-container .left-side {
        transform: rotate(349.2deg); }
      .related-weather-info-container .pie.progress-97 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-98 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-98 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-98 .pie-container .left-side {
        transform: rotate(352.8deg); }
      .related-weather-info-container .pie.progress-98 .pie-container .right-side {
        transform: rotate(180deg); }
    .related-weather-info-container .pie.progress-99 .pie-container {
      clip: rect(auto, auto, auto, auto); }
      .related-weather-info-container .pie.progress-99 .pie-container .half-circle {
        border-color: #3498db; }
      .related-weather-info-container .pie.progress-99 .pie-container .left-side {
        transform: rotate(356.4deg); }
      .related-weather-info-container .pie.progress-99 .pie-container .right-side {
        transform: rotate(180deg); }

.time-container, .related-weather-info-container {
  display: inline-block; }

.detail-temperature-container {
  text-align: center;
  font-size: 1.2rem;
  color: #f7fafc; }
  .detail-temperature-container > p {
    text-align: left;
    margin: 2rem calc( (100% - 80%) /2);
    font-size: 1.5rem; }

.igFrameBar {
  display: inline-block;
  width: 80%;
  background-color: rgba(160, 174, 192, 0.5);
  border-radius: 1.5rem;
  height: 15rem;
  position: relative; }
  .igFrameBar::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #cbd5e0;
    position: absolute;
    top: 50%;
    left: 0; }
  .igFrameBar::after {
    content: "";
    width: 100%;
    height: 50%;
    background: transparent;
    position: absolute;
    top: 25%;
    left: 0;
    border-top: 1px solid #cbd5e0;
    border-bottom: 1px solid #cbd5e0; }
  .igFrameBar-igData {
    width: 1rem;
    position: absolute;
    bottom: 1px;
    float: left;
    border-radius: 1.5rem;
    background: #718096;
    height: 0px; }
    .igFrameBar-igData-degree {
      position: absolute;
      top: -2rem;
      right: -0.6rem; }
    .igFrameBar-igData-time {
      position: absolute;
      bottom: -2rem;
      right: 0;
      text-align: left; }
